<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="DropCreateDevPVData" value="C:\Projekte\Web\solar.riedme.de\solar_tests\SQLScripts\DropCreateDevPVData.sql"/>
    <add key="DropCreateDevPVMembership" value="C:\Projekte\Web\solar.riedme.de\solar_tests\SQLScripts\DropCreateDevPVMembership.sql"/>
    <add key="DropCreateEmptyPVData" value="C:\Projekte\Web\solar.riedme.de\solar_tests\SQLScripts\DropCreateEmptyPVData.sql"/>
    <add key="DropCreateEmptyPVMembership" value="C:\Projekte\Web\solar.riedme.de\solar_tests\SQLScripts\DropCreateEmptyPVMembership.sql"/>

      <add key="InverterIDs" value="1,2,3,4"/>
      <add key="DiagDay_StartHour" value="5"/>
      <add key="DiagDay_EndHour" value="20"/>

  </appSettings>
    <connectionStrings configSource="mysql_dev.config" />
</configuration>
